################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SertApi/.vs
/SertApi/bin/Debug/net8.0
/SertApi/obj
